<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="row justify-content-center p-3">
                <img src="{% static "images/maneki-neko.svg" %}" id="icon" alt="maneki_neko" height="60px"
                     width="60px"/>
            </div>
            <form action="/auth/login/" method="post">
                {% if form.non_field_errors %}
                    <div class="col">
                        {% for error in form.non_field_errors %}
                            <div class="row alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="login"
                           class="fadeIn form-control {% if form.errors.username %} is-invalid {% endif %}"
                           name="username"
                           placeholder="Email">
                    {% if form.errors.username %}
                        <div class="invalid-feedback">
                            {{ form.errors.username }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="password" id="password"
                           class="fadeIn form-control {% if form.errors.password %} is-invalid {% endif %}"
                           name="password"
                           placeholder="Пароль">
                    {% if form.errors.password %}
                        <div class="invalid-feedback">
                            {{ form.errors.password }}
                        </div>
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-primary col-4" value="Войти">
                </div>

            </form>
        </div>
    </div>

</div>
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.bundle.js" %}"></script>
</body>
</html>