{% extends 'CRUD/list/base.html' %}
{% load static %}
{% block filters %}
    <div class="filters mb-4">
        <form class="row justify-content-center align-items-center">
            <div class="col-9 shadow rounded p-3">
                <div class="row">
                    <div class="col input-group mb-3">
                        <input type="text" class="form-control" name="q" placeholder="Поиск"
                               aria-label="поиск по имени" value="{{ request.GET.q }}">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <a href="{{ meta_context.create_url }}" class="btn btn-success"><img
                            src="{% static 'images/icons/add.png' %}" width="40px" height="40px" alt=""></a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block card_object %}
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h4>
                    {{ object.title }}
                </h4>
            </div>
        </div>
        <div class="col-auto row align-items-center mr-2">
            <a href="{% url 'main:statement-list' %}?category={{ object.id }}"
               class="btn btn-outline-info font-weight-bold">
                {{ object.statements.count }} <i class="material-icons"></i>
            </a>
        </div>
    </div>
{% endblock %}