{% extends "shared/index_layout.html" %}
{% load static %}
{% block content %}
    <h2>{{ update_header }}</h2>
    <form action="{{ object.update_url }}" method="post" class="col-10 shadow rounded p-3">
        {% csrf_token %}

        <div class="col-10">
            {% if form.non_field_errors %}
                <div class="col-auto">
                    {% for error in form.non_field_errors %}
                        <div class="row alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="col-7 mb-3">
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row pl-4">
            <div class="col-auto">
                <button class="btn btn-success" id="saveButton" tabindex="1">Сохранить</button>
            </div>
        </div>

    </form>
{% endblock %}